html,
body {
  margin: 0;
  padding: 0;
  background-color: #2f4f30;
  color: white;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 1.5em;
}

.row {
  background-color: #2f4f30;
}

.button-container {
  padding-top: 0.5rem;
  /* Equivalente a mt-2 de Bootstrap */
}
